[Unit]
Description=Azenv Go
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/azenv-go

Restart=on-failure
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice

[Install]
WantedBy=multi-user.target