[Unit]
Description=Azenv Go
After=network.target

[Service]
ExecStart=/usr/local/bin/azenv-go
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice

[Install]
WantedBy=multi-user.target